<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id = "mathCheat" class="com.express.di.MathCheat"></bean>

<bean id = "studentObject" class = "com.express.di.Student">
	<property name="id" value="1"></property>
	<property name="mathCheat" ref="mathCheat" >
	</property>
</bean>

<bean id = "anotherStudentObject" class = "com.express.di.AnotherStudent">
	<property name="matCheat" ref="mathCheat">
	</property>
</bean>

</beans>
